@import '../../../styles/vars';

.modalFullpage {
    position: fixed;
    z-index: 57;
    height: 100vh;
    width: 49%;
    right: 0;
    top: 0;

    &__close {
        position: absolute;
        z-index: 59;
        top: wv-1600(21px);
        right: wv-1600(20px);
        cursor: pointer;
    }
}
