@import '../../../../styles/vars';

.floorPage {
    display: flex;

    justify-content: space-between;
    padding-top: wv-1600(140px);
    &__container {
        position: relative;
    }

    &__label {
        opacity: 0;
        position: absolute;
        z-index: 1;
        white-space: nowrap;
        font-size: wv-1600(18px);
        line-height: 115%;

        @include laptop {
            font-size: wv-1200(18px);
        }

        @include mobile {
            display: none !important;
        }

        @include tablet {
            display: none !important;
        }
    }
}
