.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #afd7e6;
  z-index: 60;
  span {
    font-size: wv-375(16px);
    color: #24292e;
    width: 100%;
    text-align: center;
    padding: 0 15px 0 15px;
    line-height: 140%;
  }
}
