@import 'styles/vars';

.container {
    @include flex(row, flex-end, null);
    height: 100%;
    position: relative;

    @include tablet-l() {
        height: fit-content;
    }

    @include tablet-p() {
        height: fit-content;
    }

    @include mobile() {
        height: fit-content;
    }
}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.bg {
    min-height: 100vh;
    height: 100%;
    z-index: -1;
    position: relative;

    @include tablet-l() {
        height: 100vh;
    }

    @include tablet-p() {
        height: 100vh;
    }

    @include mobile() {
        height: 100vh;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
