@import "styles/vars";

.howTo {
  padding: wv-1600(140px) wv-1600(60px);

  @include laptop() {
    padding: wv-1200(140px) wv-1200(60px);
  }

  @include tablet-l() {
    padding: wv-768(105px) wv-768(40px);
  }

  @include tablet-p() {
    padding: wv-768(105px) wv-768(40px);
  }

  @include mobile() {
    padding: wv-375(80px) wv-375(15px);
  }

  &_btn {
    @include tablet-l() {
     margin-top: wv-768(45px);
    }

    @include tablet-p() {
      margin-top: wv-768(45px);
    }

    @include mobile() {
      margin-top: wv-375(30px);
    }
  }
}

.formwrapper{
  @include wrapper-form-outer;
 
  &__inner{
   @include wrapper-form-inner;
  }
 }
