@import '../../../../styles/vars';

.listRight {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &__close {
        position: absolute;
        right: wv-768(-20px);
        top: wv-768(-180px);
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: wv-768(35px);
        width: wv-768(319px);
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: wv-768(45px);
        width: wv-768(319px);
    }

    &__modal {
        position: relative;
    }

    &__accordion {
        display: flex;
        flex-direction: column;
        gap: wv-1600(35px);
        margin-bottom: wv-1600(35px);

        @include tablet-p() {
            width: wv-768(319px);
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: wv-1600(12px);
            border-bottom: 1px solid $black;

            @include tablet-p() {
                padding-bottom: wv-768(12px);
            }
        }
        &__name {
            @include p2-bold;
            color: $black;
        }
    }

    &__advantages {
        margin-top: wv-1600(42px);
        margin-bottom: wv-1600(40px);

        @include tablet-p() {
            margin-bottom: wv-768(45px);
        }

        &__name {
            @include p2-bold;
            color: $black;
            margin-bottom: wv-1600(25px);

            @include tablet-p() {
                margin-bottom: wv-768(25px);
            }
        }
    }
    &__advantage {
        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: wv-1600(12px);
            @include tablet-p() {
                width: wv-768(319px);
                padding-bottom: wv-768(25px);
            }
        }
        &__name {
            @include p2-bold;
            color: $black;
        }
    }

    &__purchaseBtn {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: wv-1600(15px) wv-1600(0px);
        border: wv-1600(1.5px) solid $beige;
        background-color: transparent;
        @include p3-bold;
        color: $beige;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover {
            border: wv-1600(1.5px) solid $black;
            color: $black;
        }
    }

    &__buttons {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        gap: wv-768(12px);
    }

    &__submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: wv-768(688px);
        height: wv-768(40px);
        background: $black;

        @include p3-bold;
        color: $white;
        cursor: pointer;

        &:hover {
            color: $white;
            background: $beige;
        }
    }

    &__clean {
        display: flex;
        justify-content: center;
        align-items: center;
        width: wv-768(688px);
        height: wv-768(40px);
        background: transparent;
        border: wv-768(1.5px) solid $black;

        @include p3-bold;
        color: $black;
        cursor: pointer;

        &:hover {
            color: $beige;
            border: wv-768(1.5px) solid $beige;
        }
    }
}

.listFilterWrapper {
    position: fixed;
    background: $almost-white;
    top: 0;
    z-index: 55;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: wv-768(135px) wv-768(38px) wv-768(40px) wv-768(40px);
}

.listRightAdaptive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: wv-768(32px);

    @include mobile() {
        margin-bottom: wv-375(32px);
    }

    &__title {
        @include large-p;
        color: $black;
    }

    &__clear {
        position: relative;
        @include sign;
        padding-right: wv-768(21px);
        cursor: pointer;

        @include mobile() {
            padding-right: wv-375(21px);
        }

        &:after {
            position: absolute;
            content: url(../../../assets/images/unknown/icons/close.svg);
            width: wv-768(15px);
            height: wv-768(15px);
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            @include mobile() {
                width: wv-375(15px);
                height: wv-375(15px);
            }
        }
    }
}
