@import 'styles/vars';

.hint {
    display: flex;
    flex-direction: column;
    width: max-content;
    background: $blue-grey;
    padding: wv-1600(15px) wv-1600(20px);
    gap: wv-1600(5px);
    font-size: wv-1600(15px);
    line-height: 132%;
    color: $white;
    position: absolute;
    z-index: 10;
    bottom: calc(100% + (5.5px / $vp--1600 * 100%));
    clip-path: polygon(
        calc(50% - (wv-1600(9.17px) / 2)) calc(100% - (wv-1600(9.17px) / 2)),
        50% 100%,
        calc(50% + (wv-1600(9.17px) / 2)) calc(100% - (wv-1600(9.17px) / 2)),
        100% calc(100% - (wv-1600(9.17px) / 2)),
        100% 0,
        0 0,
        0 calc(100% - (wv-1600(9.17px) / 2))
    );

    @include tablet() {
        padding: wv-1200(15px) wv-1200(20px);
        gap: wv-1200(5px);
        font-size: wv-1200(15px);
        bottom: calc(100% + (5.5px / $vp--1200 * 100%));
        clip-path: polygon(
            calc(50% - (wv-1200(9.17px) / 2)) calc(100% - (wv-1200(9.17px) / 2)),
            50% 100%,
            calc(50% + (wv-1200(9.17px) / 2)) calc(100% - (wv-1200(9.17px) / 2)),
            100% calc(100% - (wv-1200(9.17px) / 2)),
            100% 0,
            0 0,
            0 calc(100% - (wv-1200(9.17px) / 2))
        );
    }

    @include tablet-l() {
        padding: wv-768(15px) wv-768(20px);
        gap: wv-768(5px);
        font-size: wv-768(15px);
        bottom: calc(100% + (5.5px / $vp--768 * 100%));
        clip-path: polygon(
            calc(50% - (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
            50% 100%,
            calc(50% + (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
            100% calc(100% - (wv-768(9.17px) / 2)),
            100% 0,
            0 0,
            0 calc(100% - (wv-768(9.17px) / 2))
        );
    }

    @include tablet-p() {
        padding: wv-768(15px) wv-768(20px);
        gap: wv-768(5px);
        font-size: wv-768(15px);
        bottom: calc(100% + (5.5px / $vp--768 * 100%));
        clip-path: polygon(
            calc(50% - (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
            50% 100%,
            calc(50% + (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
            100% calc(100% - (wv-768(9.17px) / 2)),
            100% 0,
            0 0,
            0 calc(100% - (wv-768(9.17px) / 2))
        );
    }

    @include mobile() {
        padding: wv-375(15px) wv-375(20px);
        gap: wv-375(5px);
        font-size: wv-375(15px);
        bottom: calc(100% + (5.5px / $vp--375 * 100%));
        clip-path: polygon(
            calc(50% - (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
            50% 100%,
            calc(50% + (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
            100% calc(100% - (wv-375(9.17px) / 2)),
            100% 0,
            0 0,
            0 calc(100% - (wv-375(9.17px) / 2))
        );
    }

    &__title {
        font-weight: 600;
    }

    &__distance {
        font-weight: 400;
    }

    &--0 {
        @include mobile() {
            left: wv-375(-25px);
            clip-path: polygon(
                calc(22% - (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                22% 100%,
                calc(22% + (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                100% calc(100% - (wv-375(9.17px) / 2)),
                100% 0,
                0 0,
                0 calc(100% - (wv-375(9.17px) / 2))
            );
        }
    }

    &--1 {
        @include mobile() {
            right: wv-375(-15px);
            clip-path: polygon(
                calc(85% - (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                85% 100%,
                calc(85% + (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                100% calc(100% - (wv-375(9.17px) / 2)),
                100% 0,
                0 0,
                0 calc(100% - (wv-375(9.17px) / 2))
            );
        }
    }

    &--2 {
        @include tablet-l() {
            left: 0;
            clip-path: polygon(
                calc(8% - (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
                8% 100%,
                calc(8% + (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
                100% calc(100% - (wv-768(9.17px) / 2)),
                100% 0,
                0 0,
                0 calc(100% - (wv-768(9.17px) / 2))
            );
        }

        @include tablet-p() {
            left: 0;
            clip-path: polygon(
                calc(8% - (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
                8% 100%,
                calc(8% + (wv-768(9.17px) / 2)) calc(100% - (wv-768(9.17px) / 2)),
                100% calc(100% - (wv-768(9.17px) / 2)),
                100% 0,
                0 0,
                0 calc(100% - (wv-768(9.17px) / 2))
            );
        }

        @include mobile() {
            left: 0;
            clip-path: polygon(
                calc(8% - (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                8% 100%,
                calc(8% + (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                100% calc(100% - (wv-375(9.17px) / 2)),
                100% 0,
                0 0,
                0 calc(100% - (wv-375(9.17px) / 2))
            );
        }
    }

    &--3 {
        @include mobile() {
            right: wv-375(-15px);
            clip-path: polygon(
                calc(84% - (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                84% 100%,
                calc(84% + (wv-375(9.17px) / 2)) calc(100% - (wv-375(9.17px) / 2)),
                100% calc(100% - (wv-375(9.17px) / 2)),
                100% 0,
                0 0,
                0 calc(100% - (wv-375(9.17px) / 2))
            );
        }
    }
}

.soulIcon {
    cursor: pointer;
    width: wv-1600(27px);
    height: wv-1600(56px);

    @include laptop() {
        width: wv-1200(17px);
        height: wv-1200(36px);
    }

    @include tablet-l() {
        width: wv-768(27px);
        height: wv-768(56px);
    }

    @include tablet-p() {
        width: wv-768(27px);
        height: wv-768(56px);
    }

    @include mobile() {
        width: wv-375(27px);
        height: wv-375(56px);
    }
}

.point {
    cursor: pointer;
    width: wv-1600(15px);
    height: wv-1600(15px);

    @include tablet() {
        width: wv-1200(15px);
        height: wv-1200(15px);
    }

    @include tablet-l() {
        width: wv-768(15px);
        height: wv-768(15px);
    }

    @include tablet-p() {
        width: wv-768(15px);
        height: wv-768(15px);
    }

    @include mobile() {
        width: wv-375(15px);
        height: wv-375(15px);
    }

    &__left {
        cursor: pointer;
        width: wv-1600(75px);
        height: wv-1600(15px);

        @include tablet() {
            width: wv-1200(75px);
            height: wv-1200(15px);
        }

        @include tablet-l() {
            width: wv-768(75px);
            height: wv-768(15px);
        }

        @include tablet-p() {
            width: wv-768(75px);
            height: wv-768(15px);
        }

        @include mobile() {
            width: wv-375(75px);
            height: wv-375(15px);
        }
    }

    &__right {
        cursor: pointer;
        width: wv-1600(40px);
        height: wv-1600(44px);

        @include tablet() {
            width: wv-1200(40px);
            height: wv-1200(44px);
        }

        @include tablet-l() {
            width: wv-768(40px);
            height: wv-768(44px);
        }

        @include tablet-p() {
            width: wv-768(40px);
            height: wv-768(44px);
        }

        @include mobile() {
            width: wv-375(40px);
            height: wv-375(44px);
        }
    }
}

.metro {
    cursor: pointer;
    width: wv-1600(28px);
    height: wv-1600(19px);

    @include tablet() {
        width: wv-1200(28px);
        height: wv-1200(19px);
    }

    @include tablet-l() {
        width: wv-768(28px);
        height: wv-768(19px);
    }

    @include tablet-p() {
        width: wv-768(28px);
        height: wv-768(19px);
    }

    @include mobile() {
        width: wv-375(28px);
        height: wv-375(19px);
    }

    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        font-size: wv-1600(10.3104px);
        line-height: 140%;
        color: $blue-grey;

        svg {
            cursor: auto;
        }

        @include tablet() {
            font-size: wv-1200(10.3104px);
        }

        @include tablet-l() {
            font-size: wv-768(10.3104px);
        }

        @include tablet-p() {
            font-size: wv-768(10.3104px);
        }

        @include mobile() {
            font-size: wv-375(10.3104px);
        }
    }
}

.tooltip {
    position: absolute;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--0 {
        top: 41%;
        left: 39.1%;

        @include mobile() {
            left: 10%;
        }
    }

    &--1 {
        right: 11%;
        bottom: 12%;

        @include tablet-p() {
            right: 14%;
            bottom: 10%;
        }

        @include mobile() {
            right: 5%;
            bottom: 9%;
        }
    }

    &--2 {
        top: 42%;
        left: 0;

        @include mobile() {
            top: 58%;
            left: 3%;
        }
    }

    &--3 {
        top: 0;
        right: 10%;
    }

    &--4 {
        top: 4%;
        left: 57%;

        @include mobile() {
            top: 3%;
            left: 43%;
        }
    }
}
