@import 'styles/vars';

.listBar__blue {
    padding: wv-1600(20px) wv-1600(40px) wv-1600(16px) wv-1600(40px);
    position: relative;
    display: grid;
    align-items: center;
    background: $light-beige;

    grid-template-columns:
        wv-1600(99px) wv-1600(111px) wv-1600(113px) wv-1600(95px)
        wv-1600(100px) wv-1600(208px) wv-1600(110px);

    @include laptop() {
        grid-template-columns:
            wv-1200(80px) wv-1200(95px) wv-1200(95px) wv-1200(85px)
            wv-1200(80px) wv-1200(150px) wv-1200(80px);
    }

    @include tablet-p() {
        padding: wv-768(16px) wv-768(20px) wv-768(14px) wv-768(20px);
        grid-template-columns:
            wv-768(66px) wv-768(97px) wv-768(95px) wv-768(72px)
            wv-768(90px) wv-768(140px) wv-768(110px);
        margin-bottom: wv-768(8px);
    }

    @include mobile() {
        background: $light-grey;
        padding: wv-375(14px) wv-375(8px) wv-375(12px) wv-375(8px);
        grid-template-columns:
            wv-375(62px) wv-375(37px) wv-375(66px) wv-375(41px)
            wv-375(61px) wv-375(62px);
        margin-bottom: wv-375(8px);
    }
}

.listBar__orange {
    padding: wv-1600(20px) wv-1600(40px) wv-1600(16px) wv-1600(40px);
    position: relative;
    display: grid;
    align-items: center;
    background: $light-beige;
    grid-template-columns:
        wv-1600(99px) wv-1600(111px) wv-1600(113px) wv-1600(81px)
        wv-1600(98px) wv-1600(208px) wv-1600(110px);

    @include tablet-p() {
        padding: wv-768(16px) wv-768(20px) wv-768(14px) wv-768(20px);
        grid-template-columns:
            wv-768(66px) wv-768(97px) wv-768(95px) wv-768(72px)
            wv-768(98px) wv-768(208px) wv-768(110px);
        margin-bottom: wv-768(8px);
    }

    @include mobile() {
        padding: wv-375(14px) wv-375(8px) wv-375(12px) wv-375(8px);
        grid-template-columns:
            wv-375(62px) wv-375(37px) wv-375(66px) wv-375(41px)
            wv-375(61px) wv-375(62px);
        margin-bottom: wv-375(8px);
    }
}

.listbar__adaptive {
    @include laptop() {
        grid-template-columns:
            wv-1200(75px) wv-1200(90px) wv-1200(95px) wv-1200(80px)
            wv-1200(98px) wv-1200(208px) wv-1200(110px);
    }
}
