@import 'styles/vars';

.container {
    max-width: 100vw;
    overflow-x: hidden;

    img {
        object-position: center bottom;
    }
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: wv-1600(35px);
    padding: wv-1600(140px) wv-1600(154px) wv-1600(80px) wv-1600(154px);

    @include laptop() {
        gap: wv-1200(35px);
        padding: wv-1200(100px) wv-1200(115px) wv-1200(80px) wv-1200(115px);
    }

    @include tablet() {
        gap: wv-1600(35px);
        padding: wv-1600(140px) wv-1600(154px) wv-1600(80px) wv-1600(154px);
    }

    @include tablet-l() {
        gap: wv-768(25px);
        padding: wv-768(105px) wv-768(40px) wv-768(60px) wv-768(40px);
    }

    @include tablet-p() {
        gap: wv-768(25px);
        padding: wv-768(105px) wv-768(40px) wv-768(60px) wv-768(40px);
    }

    @include mobile() {
        gap: wv-375(20px);
        padding: wv-375(80px) wv-375(15px) wv-375(40px) wv-375(15px);
    }

    &_mb40 {
        padding-top: wv-1600(40px);

        @include laptop() {
            padding-top: wv-1200(40px);
        }

        @include tablet() {
            padding-top: wv-1600(40px);
        }
        @include tablet-l() {
            padding-top: 0;
        }

        @include tablet-p() {
            padding-top: 0;
        }

        @include mobile() {
            padding-top: 0;
        }
    }

    &_title {
        @include h2;
        max-width: wv-1600(918px);

        @include laptop() {
            max-width: wv-1200(700px);
        }

        @include tablet() {
            max-width: wv-1600(918px);
        }

        @include tablet-l() {
            max-width: 100%;
        }

        @include tablet-p() {
            max-width: 100%;
        }

        @include mobile() {
            max-width: 100%;
        }
    }

    &_text {
        @include p2;
        @include flex(row, space-between, null);

        p {
            max-width: wv-1600(542px);
            @include laptop() {
                max-width: wv-1200(442px);
            }

            @include tablet() {
                max-width: wv-1600(542px);
            }
            @include tablet-p() {
                max-width: 100%;
            }

            @include mobile() {
                max-width: 100%;
            }
        }

        @include laptop() {
            grid-template-columns: repeat(2, wv-1200(442px));
            column-gap: wv-1200(58px);
        }

        @include tablet() {
            grid-template-columns: repeat(2, wv-1600(442px));
            column-gap: wv-1600(58px);
        }

        @include tablet-l() {
            display: flex;
            flex-direction: column;
            gap: wv-768(15px);
        }

        @include tablet-p() {
            display: flex;
            flex-direction: column;
            gap: wv-768(15px);
        }

        @include mobile() {
            display: flex;
            flex-direction: column;
            gap: wv-375(15px);
        }
    }

    &_link {
        @include p2-bold;
        @include flex(row, null, center);
        margin-top: wv-1600(5px);
        max-width: wv-1600(300px);

        @include tablet-l() {
            max-width: wv-1200(300px);
        }

        @include tablet-p() {
            max-width: wv-768(300px);
        }

        @include mobile() {
            max-width: wv-375(300px);
        }
        p {
            height: wv-1600(20px);

            @include laptop() {
                height: wv-1200(20px);
            }

            @include tablet() {
                height: wv-1600(20px);
            }

            @include tablet-l() {
                font-size: wv-768(16px);
                height: wv-768(20px);
            }

            @include tablet-p() {
                font-size: wv-768(16px);
                height: wv-768(20px);
            }

            @include mobile() {
                font-size: wv-375(16px);
                height: wv-375(20px);
            }
        }
        @media screen and (min-width: 1024px) and (orientation: landscape) {
            &:hover {
                color: $beige;
                path {
                    fill: $beige;
                    &:nth-child(2) {
                        stroke: $beige;
                    }
                }
            }
        }
    }

    &_icon {
        transition: all 0.5s;
        margin-left: 10px;
        width: wv-1600(20px);
        height: wv-1600(20px);

        @include laptop() {
            width: wv-1200(20px);
            height: wv-1200(20px);
        }

        @include tablet-l() {
            width: wv-768(20px);
            height: wv-768(20px);
        }

        @include tablet-p() {
            width: wv-768(20px);
            height: wv-768(20px);
        }

        @include mobile() {
            width: wv-375(20px);
            height: wv-375(20px);
        }
    }
}

.textRow {
    padding: wv-1600(140px) wv-1600(154px);

    @include laptop() {
        padding: wv-1200(100px) wv-1200(115px);
    }

    @include tablet() {
        padding: wv-1600(140px) wv-1600(154px);
    }

    @include tablet-l() {
        padding: wv-768(105px) wv-768(40px);
    }

    @include tablet-p() {
        padding: wv-768(105px) wv-768(40px);
    }

    @include mobile() {
        padding: wv-375(80px) wv-375(15px);
    }
    &_pb {
        padding-bottom: wv-1600(80px);
        @include laptop() {
            padding-bottom: wv-1200(80px);
        }

        @include tablet() {
            padding-bottom: wv-1600(80px);
        }

        @include tablet-l() {
            padding-bottom: wv-768(45px);
        }

        @include tablet-p() {
            padding-bottom: wv-768(45px);
        }

        @include mobile() {
            padding-bottom: wv-375(40px);
        }
    }

    &_title {
        @include h2;
        margin-bottom: wv-1600(35px);
        max-width: wv-1600(918px);

        @include laptop() {
            margin-bottom: wv-1200(35px);
            max-width: wv-1600(918px);
        }

        @include tablet() {
            margin-bottom: wv-1600(35px);
            max-width: wv-1600(918px);
        }

        @include tablet-l() {
            margin-bottom: wv-768(25px);
            max-width: 100%;
        }

        @include tablet-p() {
            margin-bottom: wv-768(25px);
            max-width: 100%;
        }

        @include mobile() {
            margin-bottom: wv-375(20px);
            max-width: 100%;
        }
    }

    &_text {
        @include p2;
        max-width: wv-1600(1011px);

        @include laptop() {
            max-width: wv-1200(800px);
        }

        @include tablet() {
            max-width: wv-1600(1011px);
        }

        @include tablet-l() {
            max-width: 100%;
        }

        @include tablet-p() {
            max-width: 100%;
        }

        @include mobile() {
            max-width: 100%;
        }
    }
    &_subtitle {
        @include large-p;
        max-width: wv-1600(770px);
        margin-left: wv-1600(95px);
        padding: wv-1600(60px) 0;

        @include laptop() {
            max-width: wv-1200(600px);
            margin-left: wv-1200(95px);
            padding: wv-1600(60px) 0;
        }

        @include tablet() {
            max-width: wv-1600(770px);
            margin-left: wv-1600(95px);
            padding: wv-1600(60px) 0;
        }

        @include tablet-l() {
            margin-left: wv-768(50px);
            max-width: wv-768(575px);
            padding: wv-768(45px) 0;
        }

        @include tablet-p() {
            margin-left: wv-768(50px);
            max-width: wv-768(575px);
            padding: wv-768(45px) 0;
            font-size: wv-768(17px);
            line-height: 140%;
        }

        @include mobile() {
            margin-left: wv-375(25px);
            max-width: 100%;
            padding: wv-375(30px) 0;
            font-size: wv-375(16px);
            line-height: 140%;
        }
    }
}

.image {
    padding: 0 wv-1600(154px) wv-1600(140px) wv-1600(154px);

    @include laptop() {
        padding: 0 wv-1200(115px) wv-1200(100px) wv-1200(115px);
    }

    @include tablet() {
        padding: 0 wv-1600(154px) wv-1600(140px) wv-1600(154px);
    }

    @include tablet-l() {
        padding: 0 wv-768(40px) wv-768(105px) wv-768(40px);
    }

    @include tablet-p() {
        padding: 0 wv-768(40px) wv-768(105px) wv-768(40px);
    }

    @include mobile() {
        padding: 0 wv-375(15px) wv-375(80px) wv-375(15px);
    }

    &__img {
        position: relative;
        width: calc(100vw - wv-1600(308px));
        height: wv-1600(780px);

        @include laptop() {
            width: calc(100vw - wv-1200(230px));
            height: wv-1200(780px);
        }

        @include tablet-l() {
            width: calc(100vw - wv-768(80px));
            height: wv-768(415px);
        }

        @include tablet-p() {
            width: calc(100vw - wv-768(80px));
            height: wv-768(415px);
        }

        @include mobile() {
            width: calc(100vw - wv-375(30px));
            height: wv-375(206px);
        }
        img {
            object-fit: cover;
        }
    }

    &__mid {
        padding-bottom: 0;
    }
}

.article {
    background: $light-beige;
    transform: translateY(500px);
    margin-inline: wv-1600(154px);
    padding: wv-1600(80px) wv-1600(94px) wv-1600(100px) wv-1600(94px);

    @include laptop() {
        margin-inline: wv-1200(115px);
        padding: wv-1200(80px) wv-1200(94px) wv-1200(100px) wv-1200(94px);
    }

    @include tablet() {
        margin-inline: wv-1600(154px);
        padding: wv-1600(80px) wv-1600(94px) wv-1600(100px) wv-1600(94px);
    }

    @include tablet-l() {
        margin-inline: wv-768(40px);
        padding: wv-768(35px);
    }

    @include tablet-p() {
        margin-inline: wv-768(40px);
        padding: wv-768(35px);
    }

    @include mobile() {
        margin-inline: wv-375(15px);
        padding: wv-375(20px) wv-375(20px) wv-375(40px) wv-375(20px);
    }

    &_info {
        @include flex(row, space-between, null);
        margin-top: wv-1600(60px);
        gap: wv-1600(114px);

        p + p {
            margin-top: 15px;
        }

        @include laptop() {
            margin-top: wv-1200(60px);
            gap: wv-1200(114px);
        }

        @include tablet() {
            margin-top: wv-1600(60px);
            gap: wv-1600(114px);
        }

        @include tablet-l() {
            flex-direction: column;
            margin-top: wv-768(60px);
            gap: wv-768(25px);
        }

        @include tablet-p() {
            flex-direction: column;
            margin-top: wv-768(60px);
            gap: wv-768(25px);
        }

        @include mobile() {
            flex-direction: column;
            margin-top: wv-375(20px);
            gap: wv-375(15px);
        }
    }

    &_title {
        @include h3;

        @include laptop() {
            @include h3;
        }

        @include tablet() {
            @include h3;
        }

        @include tablet-l() {
            @include large-p;
        }

        @include tablet-p() {
            @include large-p;
        }

        @include mobile() {
            @include large-p;
        }
    }

    &_text {
        @include p2;
        max-width: wv-1600(634px);

        @include laptop() {
            max-width: wv-1200(500px);
        }

        @include tablet() {
            max-width: wv-1600(634px);
        }

        @include tablet-l() {
            max-width: 100%;
        }

        @include tablet-p() {
            max-width: 100%;
        }

        @include mobile() {
            max-width: 100%;
        }
    }
}

.slider {
    padding-bottom: wv-1600(140px);

    @include laptop() {
        padding-bottom: wv-1200(120px);
    }

    @include tablet-l() {
        padding-bottom: wv-768(105px);
    }

    @include tablet-p() {
        padding-bottom: wv-768(105px);
    }

    @include mobile() {
        padding-bottom: wv-375(80px);
    }
}

.title {
    @include p2;
    color: $grey;
    margin-left: wv-1600(150px);
    margin-bottom: wv-1600(40px);

    @include laptop() {
        margin-left: wv-1200(115px);
        margin-bottom: wv-1200(40px);
    }

    @include tablet-l() {
        margin-left: wv-768(40px);
        margin-bottom: wv-768(25px);
    }

    @include tablet-p() {
        margin-left: wv-768(40px);
        margin-bottom: wv-768(25px);
    }

    @include mobile() {
        margin-left: wv-375(15px);
        margin-bottom: wv-375(20px);
    }
}
