@import 'styles/vars';

.container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.modal {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background: $dark;
    z-index: 2;
}

.video {
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    width: wv-1600(1024px);
    height: wv-1600(768px);
    transform: translate(-50%, -50%);

    @include laptop() {
        width: wv-1200(1024px);
        height: wv-1200(768px);
    }

    @include tablet() {
        width: wv-1600(1024px);
        height: wv-1600(768px);
    }

    @include tablet-l() {
        width: 100vw;
        height: 100vh;
    }

    @include tablet-p() {
        width: wv-768(700px);
        height: wv-768(500px);
    }

    @include mobile() {
        width: 90vw;
        height: 40vh;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.closeBtn {
    z-index: 6;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: wv-1600(30px);
    top: 5%;
    right: 5%;
    position: fixed;
    background: $almost-white;
    border-radius: 100%;

    @include laptop() {
        padding: wv-1200(30px);
    }

    @include tablet() {
        padding: wv-1600(30px);
    }

    @include tablet-l() {
        padding: wv-768(30px);
    }

    @include tablet-p() {
        padding: wv-768(30px);
    }

    @include mobile() {
        padding: wv-375(30px);
    }

    &_icon {
        width: wv-1600(24px);
        height: wv-1600(24px);

        @include laptop() {
            width: wv-1200(24px);
            height: wv-1200(24px);
        }

        @include tablet() {
            width: wv-1600(24px);
            height: wv-1600(24px);
        }

        @include tablet-l() {
            width: wv-768(24px);
            height: wv-768(24px);
        }

        @include tablet-p() {
            width: wv-768(24px);
            height: wv-768(24px);
        }

        @include mobile() {
            width: wv-375(24px);
            height: wv-375(24px);
        }
    }

    &:hover {
        background: $white;

        svg path {
            stroke: $blue-black;
        }
    }
}
