@import 'styles/vars';

.image {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    &__hide {
        display: none;
    }
    &__pic {
        @include picture;
    }
}

.container {
    width: 100vw;
    height: fit-content;
}

.wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
}
.wrapperTeam {
    overflow-x: hidden;
}
