@import 'styles/vars';

.container {
    display: flex;
    justify-content: space-between;
    padding: wv-1600(80px) wv-1600(60px) wv-1600(140px) wv-1600(60px);

    @include tablet() {
        padding: wv-1200(80px) wv-1200(60px) wv-1200(140px) wv-1200(60px);
    }

    @include tablet-l() {
        padding: wv-768(60px) wv-768(40px) wv-768(105px) wv-768(40px);
    }

    @include tablet-p() {
        padding: wv-768(60px) wv-768(40px) wv-768(105px) wv-768(40px);
    }

    @include mobile() {
        flex-direction: column-reverse;
        gap: wv-375(32px);
        padding: wv-375(40px) wv-375(15px) wv-375(80px) wv-375(15px);
    }

    &__beige {
        background: $light-beige;

        .img {
            height: wv-1600(514px);

            @include tablet() {
                height: wv-1200(514px);
            }

            @include tablet-l() {
                height: wv-768(400px);
            }

            @include tablet-p() {
                height: wv-768(400px);
            }

            @include mobile() {
                height: wv-375(340px);
            }
        }
    }
}

.inner {
    display: flex;
    flex-direction: column;
    gap: wv-1600(60px);
    max-width: wv-1600(542px);

    @include tablet() {
        gap: wv-1200(60px);
        max-width: wv-1200(542px);
    }

    @include tablet-l() {
        gap: wv-768(45px);
        max-width: wv-768(337px);
    }

    @include tablet-p() {
        gap: wv-768(45px);
        max-width: wv-768(337px);
    }

    @include mobile() {
        gap: wv-375(30px);
        max-width: 100%;
    }
}

.title {
    @include h3;

    @include tablet-l() {
        @include h2;
    }

    @include tablet-p() {
        @include h2;
    }

    @include mobile() {
        @include h2;
    }
}

.text {
    @include p1;
}

.img {
    width: wv-1600(730px);
    height: wv-1600(465px);

    @include tablet() {
        width: wv-1200(730px);
        height: wv-1200(465px);
    }

    @include tablet-l() {
        width: wv-768(338px);
        height: wv-768(400px);
    }

    @include tablet-p() {
        width: wv-768(338px);
        height: wv-768(400px);
    }

    @include mobile() {
        width: wv-375(345px);
        height: wv-375(340px);
    }

    img {
        object-fit: cover;
    }
}

.list {
    ul {
        display: flex;
        flex-direction: column;
        gap: wv-1600(30px);

        @include tablet() {
            gap: wv-1200(30px);
        }

        @include tablet-l() {
            gap: wv-768(20px);
        }

        @include tablet-p() {
            gap: wv-768(20px);
        }

        @include mobile() {
            gap: wv-375(20px);
        }
    }

    li {
        display: flex;
        flex-direction: column;
        gap: wv-1600(5px);

        @include tablet() {
            gap: wv-1200(5px);
        }

        @include tablet-l() {
            gap: wv-768(5px);
        }

        @include tablet-p() {
            gap: wv-768(5px);
        }

        @include mobile() {
            gap: wv-375(5px);
        }
    }

    p {
        @include p1-bold;
        color: $dark;

        @include beige-rectangle-hyphens;
    }

    span {
        @include sign;
        color: $dark;
        padding-left: wv-1600(35px);

        @include tablet() {
            padding-left: wv-1200(35px);
        }

        @include tablet-l() {
            padding-left: wv-768(35px);
        }

        @include tablet-p() {
            padding-left: wv-768(35px);
        }

        @include mobile() {
            padding-left: wv-375(35px);
        }
    }
}
